# Segmenting and Clustering Neighborhoods in Toronto

### Assignment 2

In [155]:
import pandas as pd
import numpy as np
import geocoder

Read in the dataframe from first part of the assigment as store it as 'df' and store the lat and log info in 'df_gc'

In [169]:
df = pd.read_csv('postal_codes_toronto.csv')
df_gc = pd.read_csv('geospatial_Coordinates.csv')
df_gc = df_gc.rename(columns={'Postal Code': 'Postcode'})

Drop the 'Unnamed: 0' since it is not useful

In [170]:
df.drop(columns=['Unnamed: 0'], inplace = True)

Sort the 'df' dataframe by the 'Postcode' column and reset_index to prevent it from moving back to being unsorted

In [171]:
df.sort_values(by=['Postcode'], inplace = True)
df.reset_index(drop=True, inplace = True)

Verify that the 'df' dataframe is sorted correctly

In [172]:
df.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

Sort the 'df_gc' dataframe by the 'Postcode' column

In [173]:
df_gc = df_gc.sort_values(by=['Postcode'])

Verify that 'df_gc' datafram is sorted correctly and compare with the sorted dataframe 'df' to see if the postal codes are matching

In [174]:
df_gc.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Recognize that the postal codes are unique thus the length of the data frame must be equal to 103

In [182]:
df.shape

(103, 3)

In [183]:
df_gc.shape

(103, 3)

Since the postal codes are organized correctly, we can merge the latitude and longitude columns from "df_gc" dataframe with "df"

In [184]:
frames = [df, df_gc.iloc[:, 1:3]]
rdf = pd.concat(frames, axis=1, join='outer', sort=False)

In [185]:
rdf.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [186]:
df_gc.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [187]:
rdf.to_csv('clean_data.csv')